<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="me.duras.regex"
        version="0.1.0">

  <name>Test Regex</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/regex.js" target="js/regex.js"/>

  <js-module src="www/regex.js" name="regex">
    <clobbers target="regex" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Regex">
        <param name="android-package" value="me.duras.plugin.regex"/>
      </feature>
    </config-file>

    <source-file src="src/android/Regex.java" target-dir="src/me/regex/plugin/"/>
  </platform>

</plugin>
